* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121826;
    color: #333;
    line-height: 1.6;
}

header {
    background: url('../images/mantra.jpeg') no-repeat center center / cover;
    color: #998FF8;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header h1 {
    font-size: 5.5rem;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

main {
    padding: 40px;
}

p {
    padding: 50px;
    font-size: 1.5rem;
    color: #FFF;
}

footer p {
    color: #000;
}

section#presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    background-color: #f9f9f9;
    margin: 0 auto;
    width: 75%;
    max-height: 300px;
    min-height: 300px;
    margin-top: 40px;
    border: 2px solid #998FF8;
    color: #796FD8;
    text-align: center;
}

section#presentation:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

